<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <display-name>GoldenYield</display-name>

    <welcome-file-list>
        <welcome-file>homepage.jsp</welcome-file>
    </welcome-file-list>

    <context-param>
        <param-name>user</param-name>
        <param-value>root</param-value>
    </context-param>

    <context-param>
        <param-name>password</param-name>
        <param-value>Blue@1434</param-value>
    </context-param>

    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:mysql://localhost:3306/goldenyield
</param-value>
    </context-param>
</web-app>
